<!DOCTYPE html>
<html>
<head>
    <title>Predicción de Pingüinos</title>
</head>
<body>
    <h1>Ingrese las características del pingüino</h1>
    <form method="POST" action="/predict">
        <div>
            <label for="bill_length_mm">Longitud del pico (mm):</label>
            <input type="number" step="0.1" name="bill_length_mm" required><br><br>
        </div>
        <div>
            <label for="bill_depth_mm">Profundidad del pico (mm):</label>
            <input type="number" step="0.1" name="bill_depth_mm" required><br><br>
        </div>
        <div>
            <label for="flipper_length_mm">Longitud de la aleta (mm):</label>
            <input type="number" step="1" name="flipper_length_mm" required><br><br>
        </div>
        <div>
            <label for="body_mass_g">Masa corporal (g):</label>
            <input type="number" step="1" name="body_mass_g" required><br><br>
        </div>
        <input type="submit" value="Predecir Especie">
    </form>

    <div id="predictionResult" style="margin-top: 20px;">
        {% if prediction %}
        <h2>Resultado de la predicción:</h2>
        <p>{{ prediction }}</p>
        {% endif %}
    </div>
</body>
</html>